*
{
    margin: 0 auto;
    padding: 0;
}
body
{
    font-family: serif;
    font-size: 16px;
    background-size: 900px 1200px;
    background-image: url(../img/6.1.2.jpg);
    background-position: top;
    background-repeat: repeat-x;
    overflow-x: hidden;

}
/* 页眉区 */
header
{
    width: 1500px; 
    height: 80px;
    margin-top: 5px;
    margin-bottom: 10px;
}
header #inner
{
    width: 95%;
    height: 70px; 
    padding-top: 9px;
    padding-bottom: 1px;
    border-radius: 20px; 
    background-color: white;
    opacity: 0.75;
}
header #inner h1
{
    float: left;
    font-size: 60px;
    color: black;
    font-weight: bolder;
    word-spacing: 10px;
    text-indent: 2em;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    text-shadow: rgb(3, 148, 238) -2px -2px 10px;
    

    background: 
    -webkit-linear-gradient(45deg, black, #7072fe, #d86029 ,#F97794, #623AA2);
    -moz-linear-gradient(45deg, black, #7072fe, #d86029, #F97794, #623AA2);
    -ms-linear-gradient(45deg, black, #7072fe, #d86029, #F97794, #623AA2);
    /*设置字体颜色透明*/
    color: transparent;
    /*背景裁剪为文本形式*/
    -webkit-background-clip: text;
    /*动态10s展示*/ 
    animation: ran 5s ease-in-out infinite;
}
@keyframes ran
{
    from {
        backgroud-position: 0 0;
    }
    to {
        background-position: 2000px 0px;
    }
}
/* 动图 */
header #inner .circle
{
    width: 900px;
    height: 70px;
    float: left;
    margin-left: 25px;
}
header #inner .circle img
{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    transform-style: preserve-3d;
    animation: run 18s ease-in-out 0s infinite alternate running;
}
@keyframes run
{
    0%  { background: blue; left:0px; top: 0px;}
    25% { background: yellow; left:450px; top: 0px;}
    50% { background: greenyellow; left:900px; top: 0px;}
    750%{ background: yellow; left:450px; top: 0px;}
    100%{ background: blue; left:0px; top: 0px;}
}
/* 侧边图片 */
aside
{
    position: fixed;
    top: 350px;
    left: 5px;
}
aside img
{
    width: 90px;
    height: 90px;  
}
/* 主内容区 */
#main 
{
    width: 1200px;
    height: auto;
    
}
#main #inner
{
    width: 1200px;
    height: auto;
    border: white 1px dashed;
    border-radius: 5px;
    color: white;
}
#main .table
{
    width: 1200px;
    height: 900px;
    border: white 1px dashed;
    border-collapse: separate;
    /* position: relative; */

}
.table .table0
{
    width: 1150px;
    height: 50px;
    border: dashed 1px white;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 5px;
    
}
ul
{
    list-style: none;
}

.table .table1
{
    display: table;
    width: 900px;
    height: 100px;
    border: dashed 1px white;
    margin-top: 20px;
}
.table .table2
{
    display: table;
    width: 900px;
    height: 150px;
    border: dashed 1px white;
    margin-top: 20px;
}
.table .table3
{
    display: table;
    width: 900px;
    height: 150px;
    border: dashed 1px white;
    margin-top: 20px;
}
.table .table4
{
    display: table;
    width: 900px;
    height: 150px;
    border: dashed 1px white;
    margin-top: 20px;
}
.table .table5
{
    display: table;
    width: 900px;
    height: 150px;
    border: dashed 1px white;
    margin-top: 20px;
}
.table td
{
    width: 900px;
    height: 30px;
    border: white 1px dashed;
    text-align: left;
    padding-left: 5px;
    
}
.table .table4 .td
{
    border: none;
}
textarea, #name, #tel ,#like
{
    background-color: black;
    color: white;
    box-shadow:  inset snow 2.5px 2.5px 5px;
}
/* 页脚区 */
footer
{
    width: auto;
    height:25px;
    background-color: white;
    opacity: 0.75;
    margin-top: 10px;

}
footer table
{
    width: 95%;
    height: 95%;
    padding: 1px;
    border-top: black 1px double;
    
}
footer table td
{
    width: 50px;
    height: 20px;
    text-align: center;
}
footer td .button
{
    color: azure;
    background-color: black;
    opacity: 0.75;
    border-radius: 20px;
}




/* .checkbox
{
    position: relative;
    height: 30px;
}
.checkbox input[type='checkbox']
{
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
}
.checkbox label {
    position: absolute;
    left: 30px;
    top: 0;
    height: 20px;
    line-height: 20px;
}
.checkbox label:before {
    content: '';
    position: absolute;
    left: -30px;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.checkbox label:after {
    content: '';
    position: absolute;
    left: -22px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.checkbox input[type='checkbox']:checked + 
label:before {
    background: #4cd764;
    border-color: #4cd764;
}
.checkbox input[type='checkbox']:checked + 
label:after {
    background: #4cd764;
} */